.item {
  margin-bottom: 12px;
  list-style-type: none;
}

.btnItem {
  margin-left: 12px;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px;
  min-width: 92px;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 400;
  color: white;
  background-color: #71928a;
}
