// .layoutContainer {
//   display: block;
// }

.headerLayout {
  width: auto;
  // position: relative;
  border-bottom: 1px solid grey;
  padding: 14px;
  font-size: 24px;
  font-weight: 700;
  list-style: none;
  text-decoration: none;
}

.navLayout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.navlink {
    // position: relative;
  text-decoration: none;
  color: rgb(56, 56, 56);
}

.navBook {
  color: #71928a;
}

//   display: block;
//   font-size: 24px;
//   font-weight: 700;
//   letter-spacing: 1.5px;
//   text-decoration: none;
//   text-shadow: 1px 0 1px wheat, 0 1px 1px wheat, -1px 0 1px wheat;
//   text-transform: uppercase;
//   transition: color 0.25s linear;
// }

.register {
  display: flex;
  gap: 20px;
}
