.headerLayout {
  width: auto;

  border-bottom: 1px solid grey;
  padding: 14px;
  font-size: 24px;
  font-weight: 700;
  list-style: none;
  text-decoration: none;
}

.navLayout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navlink {
  text-decoration: none;
  color: rgb(56, 56, 56);
}

.navBook {
  color: #71928a;
}

.register {
  display: flex;
  gap: 20px;
}
